/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

#testoAlternato
{
    border: 3px solid black;
    margin: 0 auto;
    width: 80%;
    padding: 50px;
    margin-top: 100px;

}
.parole{position: relative;}
.parole i{

    position:relative;
    animation-name:animate 7s infinite; 
    animation-duration: 2.0s;
    animation-timing-function: linear;
    color: transparent;
    color:aquamarine;
     }
/* .parole:nth-of-type(1){
    animation-delay: 0s;
}
.parole:nth-of-type(2){
    animation-delay: 2s;
}
.parole:nth-of-type(3){
    animation-delay: 4s;
} */

span #parole1{
    animation-delay:  2.3s;
}
span #parole2{
    right: 210px;
    animation-delay:  -2.3s;
}
span #parole3{
    right: 14em;
}


@keyframes animate {

    0%{}
    15%{}
    30%,31%{}
    30%,31%{}
   
  
}